
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


#hero-1856 {
  padding-top: 0;
  padding-bottom: 0;
}




/*-- -------------------------- -->
<---     Mobile Navigation      -->
<--- -------------------------- -*/
/* Mobile - 1023px */
@media only screen and (max-width: 63.9375rem) {
  body.cs-open {
    overflow: hidden;
  }
  #cs-navigation {
    width: 100%;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    padding: 0.75rem 1rem;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: fixed;
    z-index: 10000;
  }
  #cs-navigation:before {
    content: "";
    width: 100%;
    height: 0vh;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: -1100;
    transition: height 0.5s, opacity 0.5s;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
  #cs-navigation.cs-active:before {
    height: 150vh;
    opacity: 1;
  }
  #cs-navigation.cs-active .cs-ul-wrapper {
    opacity: 1;
    transform: scaleY(1);
    transition-delay: 0.15s;
  }
  #cs-navigation.cs-active .cs-li {
    opacity: 1;
    transform: translateY(0);
  }
  #cs-navigation .cs-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  #cs-navigation .cs-search-form{
    display: flex;
  }
  #cs-navigation .cs-logo {
    width: 40%;
    max-width: 9.125rem;
    height: 100%;
    margin: 0 auto 0 0;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  #cs-navigation .cs-logo img {
    width: 100%;
    height: 100%;
    /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
    object-fit: contain;
  }
  #cs-navigation .cs-toggle {
    /* 44px - 48px */
    width: clamp(2.75rem, 6vw, 3rem);
    height: clamp(2.75rem, 6vw, 3rem);
    margin: 0 0 0 auto;
    background-color: transparent;
    border: none;
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #cs-navigation .cs-active .cs-line1 {
    top: 50%;
    transform: translate(-50%, -50%) rotate(225deg);
  }
  #cs-navigation .cs-active .cs-line2 {
    top: 50%;
    transform: translate(-50%, -50%) translateY(0) rotate(-225deg);
    transform-origin: center;
  }
  #cs-navigation .cs-active .cs-line3 {
    opacity: 0;
    bottom: 100%;
  }
  #cs-navigation .cs-box {
    /* 24px - 28px */
    width: clamp(1.5rem, 2vw, 1.75rem);
    /* 14px - 16px */
    height: clamp(0.875rem, 1.5vw, 1rem);
    position: relative;
  }
  #cs-navigation .cs-line {
    width: 100%;
    height: 2px;
    background-color: #1a1a1a;
    border-radius: 2px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  #cs-navigation .cs-line1 {
    top: 0;
    transition: transform 0.5s, top 0.3s, left 0.3s;
    animation-duration: 0.7s;
    animation-timing-function: ease;
    animation-direction: normal;
    animation-fill-mode: forwards;
    transform-origin: center;
  }
  #cs-navigation .cs-line2 {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: top 0.3s, left 0.3s, transform 0.5s;
    animation-duration: 0.7s;
    animation-timing-function: ease;
    animation-direction: normal;
    animation-fill-mode: forwards;
  }
  #cs-navigation .cs-line3 {
    bottom: 0;
    transition: bottom 0.3s, opacity 0.3s;
  }
  #cs-navigation .cs-ul-wrapper {
    width: 100%;
    height: auto;
    padding-bottom: 2.4em;
    background-color: #fff;

    box-shadow: inset rgba(0, 0, 0, 0.2) 0px 8px 24px;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: -1;
    overflow: hidden;
    transform: scaleY(0);
    transition: transform 0.4s, opacity 0.3s;
    transform-origin: top;
  }
  #cs-navigation .cs-ul {
    width: 100%;
    height: auto;
    max-height: 65vh;
    margin: 0;
    padding: 3rem 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.25rem;
    overflow: scroll;
  }
  #cs-navigation .cs-li {
    text-align: center;

    list-style: none;
    width: 100%;
    margin-right: 0;
    opacity: 0;
    /* transition from these values */
    transform: translateY(-4.375rem);
    transition: transform 0.6s, opacity 0.9s;
  }
  #cs-navigation .cs-li:nth-of-type(1) {
    transition-delay: 0.05s;
  }
  #cs-navigation .cs-li:nth-of-type(2) {
    transition-delay: 0.1s;
  }
  #cs-navigation .cs-li:nth-of-type(3) {
    transition-delay: 0.15s;
  }
  #cs-navigation .cs-li:nth-of-type(4) {
    transition-delay: 0.2s;
  }
  #cs-navigation .cs-li:nth-of-type(5) {
    transition-delay: 0.25s;
  }
  #cs-navigation .cs-li:nth-of-type(6) {
    transition-delay: 0.3s;
  }
  #cs-navigation .cs-li:nth-of-type(7) {
    transition-delay: 0.35s;
  }
  #cs-navigation .cs-li:nth-of-type(8) {
    transition-delay: 0.4s;
  }
  #cs-navigation .cs-li:nth-of-type(9) {
    transition-delay: 0.45s;
  }
  #cs-navigation .cs-li:nth-of-type(10) {
    transition-delay: 0.5s;
  }
  #cs-navigation .cs-li:nth-of-type(11) {
    transition-delay: 0.55s;
  }
  #cs-navigation .cs-li:nth-of-type(12) {
    transition-delay: 0.6s;
  }
  #cs-navigation .cs-li:nth-of-type(13) {
    transition-delay: 0.65s;
  }
  #cs-navigation .cs-li-link {
    /* 16px - 24px */
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    line-height: 1.2em;
    text-decoration: none;
    margin: 0;
    color: var(--headerColor);
    display: inline-block;
    position: relative;
  }
  #cs-navigation .cs-li-link:before {
    /* active state underline */
    content: "";
    width: 100%;
    height: 1px;
    background: currentColor;
    opacity: 1;
    display: none;
    position: absolute;
    bottom: -0.125rem;
    left: 0;
  }
  #cs-navigation .cs-li-link.cs-active:before {
    display: block;
  }
  #cs-navigation .cs-button-solid {
    display: none;
  }
}
/*-- -------------------------- -->
<---     Desktop Navigation     -->
<--- -------------------------- -*/
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #cs-navigation {
    width: 100%;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    padding: 0 1rem;
    background-color: #1a5e14;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: fixed;
    z-index: 10000;
 
  }
  #cs-navigation .cs-search-bar {
    display: flex;
    align-items: center; /* Aligns items vertically center */
    position: relative;
  }
  
#cs-navigation .cs-search-button {

  background-color: #ffffff;
  border: 1px solid #ccc;
  border-left: none; /* Remove left border to avoid double border */
  border-radius: 0 20px 20px 0; /* Rounded corners, only right side */
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center; 
  padding: 0 1rem;
  cursor: pointer;
}  
  #cs-navigation .cs-search-input {
    width: 300px;
    padding: 0.5rem 1rem; 
    border: 1px solid #ccc;
    border-radius: 20px 0 0 20px; 
    background-color: #e0e0e0;
    outline: none;
  
    }
  
  #cs-navigation .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    gap: 1rem;
  }
  #cs-navigation .cs-toggle {
    display: none;
  }
  #cs-navigation .cs-logo {
    width: auto;
    max-width: 21.875rem;
    height: 4.0625rem;
    /* margin-right auto pushes everything away from it to the right */
  
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }
  #cs-navigation .cs-logo img {
    width: 100%;
    height: 100%;
    /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
    object-fit: contain;
  }
  #cs-navigation .cs-ul {
    width: auto;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* 20px - 36px */
    gap: 5rem;
  }
  #cs-navigation .cs-li {
    list-style: none;
    padding: 1rem 0;
    color: #fff;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
    /* prevent flexbox from squishing it */
    flex: none;
  }
  #cs-navigation .cs-li-link {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1vw, 1rem);
    line-height: 1.5em;
    text-decoration: none;
    margin: 0;
    color: var(--bodyTextColor);
    display: block;
    position: relative;
  }
  #cs-navigation .cs-li-link:hover:before {
    width: 100%;
  }
  #cs-navigation .cs-li-link.cs-active:before {
    width: 100%;
  }
  #cs-navigation .cs-li-link:before {
    /* active state underline */
    content: "";
    width: 0%;
    height: 2px;
    background: var(--primary);
    opacity: 1;
    display: block;
    position: absolute;
    bottom: 0rem;
    left: 0;
    transition: width 0.3s;
  }
  #cs-navigation .cs-button-solid {
    font-size: 1rem;
    font-weight: 700;
    /* 46px - 56px */
    line-height: clamp(2.875em, 5.5vw, 3.5em);
    text-align: center;
    text-decoration: none;
    min-width: 9.375rem;
    margin: 0;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    padding: 0 1.5rem;
    color: #fff;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
  }
  #cs-navigation .cs-button-solid:before {
    content: "";
    width: 0%;
    height: 100%;
    background: #000;
    opacity: 1;
    border-radius: 0.25rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #cs-navigation .cs-button-solid:hover:before {
    width: 100%;
  }
}
                                
/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #hero-1785 {
    /* 200px - 300px - leaving extra space for the navigation */
    padding: clamp(12.5rem, 25.95vw, 18.75em) 1rem;
    /* prevents the topper line from causing an overflow */
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #hero-1785 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    height: 50%;
  }
  #hero-1785 .cs-content {
    text-align: center;
    width: 100%;
    max-width: 46.875rem;
  }
  #hero-1785 .cs-title {
    /* 49px - 84px */
    font-family: "Marck Script", cursive;
    font-weight: 400;
    
    font-style: normal;
    font-size: clamp(5rem, 8vw, 7rem);
    margin-bottom: 1rem;

  }
  #hero-1785 .cs-title,
  #hero-1785 .cs-text {
    color: #fff;
  }
  #hero-1785 .cs-text {
    font-size: large;
    margin-bottom: 2rem;
  }
  #hero-1785 .cs-button-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    
  }
  #hero-1785 .cs-button-solid {
    font-size: 1rem;
    font-weight: 700;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-align: center;
    text-decoration: none;
    min-width: 12.5rem;
    margin: 0;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    padding: 0 1.5rem;
    color: #fff;
    background-color: #0d5212;
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
  }
  #hero-1785 .cs-button-solid:before {
    content: "";
    width: 0%;
    height: 100%;
    background: #389e1f;
    opacity: 1;
    border-radius: 0.25rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #hero-1785 .cs-button-solid:hover:before {
    width: 100%;
  }

  #hero-1785 .cs-graphic-dark {
    display: none;
  }
  #hero-1785 .cs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
  }
  #hero-1785 .cs-background:before {
    /* Overlay */
    content: "";
    width: 100%;
    height: 100%;
    background: #000;
    /* prevents the cursor from interacting with it */
    pointer-events: none;
    opacity: 0.7;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #hero-1785 .cs-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}
/* Large Desktop - 1920px */
@media only screen and (min-width: 120rem) {
  #hero-1785 {
    /* this ties the padding bottom value to the size of the screen width. The wider the image gets the taller it gets, meaning it will get clsoer and closer to the content. This makes the padding bottom value grow with the screen size so it accounts for the growing height of the svg graphic getting taller */
    padding-bottom: 14vw;
  }
}
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbsr-1475 {
    padding: 20px;
    overflow: hidden;
    background-color: #59750a;
  }
  #sbsr-1475 .cs-title{
    font-family: "Lato", sans-serif;
    margin-left: 20px ;
    font-size: 40px;
    color: #1a5e14;
  }
  
  #sbsr-1475 .cs-text{
    font-family: "Lato", sans-serif;
    margin-left: 20px ;
    margin-right: 20px;
    line-height: 25px;
  }
  #sbsr-1475 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: clamp(3rem, 4vw, 4rem);
  }
  #sbsr-1475 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 33.875rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
    position: relative;
    z-index: 10;
    background-color: #fff;
  }
  #sbsr-1475 .cs-text {
    margin-bottom: 1rem;
  }
  #sbsr-1475 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }

  #sbsr-1475 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    overflow: hidden;
    margin: 0;
    color: #fff;
    padding: 0 3rem;
    border-radius: 1.875rem;
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: color .3s;
  }
  #sbsr-1475 .cs-button-solid:before {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 0%;
    background: var(--secondary);
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width .3s;
  }
  #sbsr-1475 .cs-button-solid:hover:before {
    width: 100%;
  }
  #sbsr-1475 .cs-image-group {
    /* font size scaling. Everything inside the group is in ems so they pull their value for em from the parent (this group div) and when the font is set to a vw, it scales the whole section down and grows proportionally with the screen width, stopping at the final em value declared in the second slot for the min function. */
    font-size: min(2.25vw, .83em);
    width: 40.75em;
    min-height: 45em;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
  }
  #sbsr-1475 .cs-picture {
    width: 33.875em;
    height: auto;
    border-radius: 15.625em;
    border: 0.625em solid #ffd3c6;
    background-color: #FFD3C6;
    overflow: hidden;
    display: block;
    position: relative;
  }
  #sbsr-1475 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #sbsr-1475 .cs-oval {
    width: 45.4375em;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    color: #778f0f;
    transform: translate(-50%, -50%) rotate(38deg);
  }
  #sbsr-1475 .cs-oval1 {
    width: 45.4375em;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    color: #0b5521;
    transform: translate(-50%, -50%) rotate(-38deg);
  }


  #sbsr-1475 .cs-blob {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #sbsr-1475 .cs-number {
    /* 24px - 49px */
    font-size: clamp(1.25rem, 4.3vw, 3.0625rem);
    line-height: 1.2em;
    font-weight: 900;
    margin: 0;
    color: var(--secondary);
    display: block;
    z-index: 10;
  }
  #sbsr-1475 .cs-desc {
    /* 12px - 16px */
    font-size: clamp(0.75rem, 1.5vw, 1rem);
    line-height: 1.5em;
    text-align: inherit;
    font-weight: bold;
    width: 100%;
    max-width: 20ch;
    color: var(--bodyTextColor);
    position: relative;
    z-index: 10;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbsr-1475 .cs-container {
    max-width: 80rem;
    /* set to horizontal arrangement */
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  #sbsr-1475 .cs-content {
    width: 47%;
    padding: 4.375rem 0;
    align-self: center;
  }
  #sbsr-1475 .cs-image-group {
    font-size: min(1.2vw, 1em);
    /* sends it to the right in the 2nd position */
    order: 2;
  }
}
                                
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-75 {
      padding: var(--sectionPadding);
      /* clips the red box from causing overflow issues */
      overflow: hidden;
      background-color: #1a5e14;
      
      
  }
  #sbs-75 .cs-container {
      width: 100%;
      /* changes to 1280px at tablet */
      max-width: 100%;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
  }
  #sbs-75 .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: left;
      font-size: 15px;
      font-family: "Open Sans", sans-serif;
      width: 100%;
      max-width: 33.875rem;
      margin-right: auto;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: flex-start;
  }
  #sbs-75 .cs-title{
    font-family: "Lato", sans-serif;
    color: #1a5e14;
    font-size: 32px;

  }
  #sbs-75 .cs-topper{
    font-family: "Open Sans";
  }

  #sbs-75 .cs-text {
      margin-bottom: 1rem;
      font-family: "Open Sans", sans-serif;
      font-size: 15px;
      line-height: 20px;
  }
  #sbs-75 .cs-text:last-of-type {
      margin-bottom: 2rem;
  }
  #sbs-75 .cs-button-solid {
      font-size: 1rem;
      /* 46px - 56px */
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      font-family: "Lato", "sans-serif";
      font-size: 20px;

      margin: 0;
      color: #fff;
      min-width: 9.375rem;
      padding: 0 2rem;
      background-color: #227e16;
      border-radius: 0.25rem;
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
  }
  #sbs-75 .cs-button-solid:before {
      content: "";
      position: absolute;
      height: 100%;
      width: 0%;
      background: #82b103;
      opacity: 1;
      top: 3;
      left: 0;
      z-index: -1;
      border-radius: 0.25rem;
      transition: width 0.3s;
  }
  #sbs-75 .cs-button-solid:hover:before {
      width: 100%;
  }
  #sbs-75 .cs-wrapper {
      width: 95%;
      max-width: 34.375rem;
      /* 28px - 80px */
      /* pushes up and down by the same amount the decorative box overflows the wrapper */
      margin: clamp(1.75em, 7.8vw, 5em) 0;
      position: relative;
  }
  #sbs-75 .cs-wrapper:before {
      /* Red decorative box */
      content: "";
      /* make it huge so it covers everything on the left as it overflows */
      width: 50em;
      background: var(--primary);
      opacity: 1;
      border-radius: 1rem;
      position: absolute;
      display: block;
      /* 28px - 80px */
      /* wrapped in a calc function to get a negative clamp value */
      top: calc(clamp(1.75em, 7.8vw, 5em) * -1);
      bottom: calc(clamp(1.75em, 7.8vw, 5em) * -1);
      right: 4.0625em;
      z-index: -1;
  }
  #sbs-75 .cs-picture {
      width: 100%;
      margin: 10px;
      position: relative;
      display: block;
      /* width divided by height */
      aspect-ratio: 0.93134328;
      border-radius: 1rem;
      z-index: 1;
  }
  #sbs-75 .cs-picture:before {
      /* Top right box */
      content: "";
      width: 10rem;
      /* 202px - 248px */
      height: clamp(12.625rem, 25vw, 15.5rem);
      background: #1a1a1a;
      opacity: 1;
      border-radius: 1rem;
      position: absolute;
      display: block;
      /* 16px -20px */
      /* wrapped in a calc function to get a negative clamp value */
      top: calc(clamp(0.5rem, 2.09vw, 1.25rem) * -1);
      right: calc(clamp(0.5rem, 2.09vw, 1.25rem) * -1);
  }
  #sbs-75 .cs-picture:after {
      /* Bottom left box */
      content: "";
      width: 10rem;
      /* 202px - 248px */
      height: clamp(12.625rem, 25vw, 15.5rem);
      background: #1a6b3c;
      opacity: 1;
      border-radius: 1rem;
      position: absolute;
      display: block;
      /* 16px -20px */
      /* wrapped in a calc function to get a negative clamp value */
      bottom: calc(clamp(0.5rem, 2.09vw, 1.25rem) * -1);
      left: calc(clamp(0.5rem, 2.09vw, 1.25rem) * -1);
      z-index: -1;
  }
  #sbs-75 .cs-picture img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 1rem;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbs-75 .cs-container {
      max-width: 80rem;
      margin-top: 20px;
      margin-bottom: 20px;
      flex-direction: row;
      justify-content: flex-start;
      /* 60px - 128px */
      gap: clamp(3.75rem, 9.5vw, 8rem);
      background-color: #e8f0e6;
      border-radius: 10%;
      
  }
  #sbs-75 .cs-wrapper {
      /* 328px - 502px */
      width: clamp(20.5rem, 37.5vw, 31.375rem);
      /* 440px - 520px */
      height: clamp(27.5rem, 40vw, 32.5rem);
      flex: none;
  }
  #sbs-75 .cs-picture {
      /* 16px - 20px */
      margin: 0 0 0 clamp(1rem, 5vw, 1.25rem);
      height: 100%;
      flex: none;
  }
  #sbs-75 .cs-content {
      width: 45%;
  }
}

                              

/*-- -------------------------- -->
<---    Side By Side Reverse    -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbsr-1810 {
    padding-top: 40px;
    /* 100px - 200px */
    padding-bottom: clamp(6.25rem, 8vw, 12.5rem);
    /* clips anything overflowing */
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #sbsr-1810 .map{
    margin: auto;
  }
  #sbsr-1810 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #sbsr-1810 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 32.625rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
    position: relative;
    z-index: 3;
  }
  #sbsr-1810 .cs-title {
    margin-bottom: 1rem;
    font-family: "Lato", sans-serif;
    font-size: 30px;
    color: #44972a;
    font-weight: 600;
    line-height: 30px;
  }
  #sbsr-1810 .cs-text {
    margin-bottom: 1rem;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    color: #000;
    font-weight: 600;
    line-height: 30px;
  }
  
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbsr-1810 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #sbsr-1810 .cs-image-group {
    /* set to inherit at Large Desktop */
    font-size: min(1.2vw, 1rem);
    order: 2;
  }
  #sbsr-1810 .cs-image-group:before {
    display: block;
  }
  #sbsr-1810 .cs-content {
    width: 51%;
  }
}
                                

/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #gallery-43 {
      padding-top: 20px;
      padding-bottom: 30px;
      background-color:#0a4b0e;
      position: relative;
      /* Prevents overflow from the image going off screen */
      overflow: hidden;
  }
  #gallery-43 .cs-text{
    color: #2c5821;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
  }
  #gallery-43 .cs-container {
      width: 100%;
      background-color: #8ef085;
      max-width: 80rem;
      margin: auto;
      border-radius: 10%;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 20px;
   
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
  }
  #gallery-43 .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
  }

  #gallery-43 .cs-image-group {
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 16px - 20px */
      gap: clamp(1rem, 1.5vw, 1.25rem);
      background-color: #fff;
  }
  #gallery-43 .cs-item {
      width: 100%;
      height: 100%;
      aspect-ratio: 1;
      margin: 0;
      position: relative;
      display: block;
  }
  #gallery-43 .cs-item:hover .cs-hover-box {
      opacity: 1;
      pointer-events: auto;
  }
  #gallery-43 .cs-item:hover .cs-icon {
      /* return to original position */
      transform: rotateY(0);
  }
  #gallery-43 .cs-item:hover .cs-h3 {
      opacity: 1;
      /* Return to original position */
      transform: translateY(0);
  }
  #gallery-43 .cs-item:hover .cs-hover-box-text {
      opacity: 1;
      /* Return to original position */
      transform: translateY(0);
  }
  #gallery-43 .cs-picture {
      margin: auto;
      width: 100%;
      height: 100%;
      display: block;
      position: relative;
  }
  #gallery-43 .cs-picture img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
  }
  #gallery-43 .cs-hover-box {
      text-align: center;
      width: 100%;
      height: 100%;
      padding: 1em;
      background-color: rgba(96, 204, 54, 0.9);
      opacity: 0;
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      /* Prevents padding from contributing to height & width */
      box-sizing: border-box;
      /* Sets stage for 3d transform animation */
      perspective: 700px;
      top: 0;
      left: 0;
      z-index: 10;
      /* prevents mouse from being able to interact with these elements */
      pointer-events: none;
      transition: opacity 0.3s;
  }

  #gallery-43 .cs-icon img {
      width: 1.25rem;
      height: 1.25rem;
  }
  #gallery-43 .cs-hover-box .cs-button-solid:before {
    content: "";
    width: 0%;
    height: 100%;
    background: #389e1f;
    opacity: 1;
    border-radius: 0.25rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
}
  #gallery-43 .cs-hover-box .cs-icon {
    display: none;
}

  #gallery-43 .cs-h3 {
      /* 20px - 25px */
      font-size: 20px;
      font-family: "Lato", sans-serif;
      font-weight: 800;

      margin: 0 auto;
      max-width: 16.875rem;
      color: #fff;
      /* make starting position down 10px and invisible */
      opacity: 0;
      transform: translateY(0.625rem);
      margin-bottom: 0.5rem;
      transition:
          opacity 0.3s,
          transform 0.3s ease-out;
      transition-delay: 0.1s;
  }
  #gallery-43 .cs-hover-box-text {
      /* 13px - 16px */
      font-size: clamp(0.8125rem, 1vw, 1rem);
      line-height: 1.5em;
      font-family: "Open Sans", sans-serif;
      margin: 0 auto;
      font-size: 12.5px;
      max-width: 16.875rem;
      color: #fff;
      /* make starting position down 10px and invisible */
      opacity: 0;
      transform: translateY(0.625rem);
      transition:
          opacity 0.3s,
          transform 0.3s ease-out;
      transition-delay: 0.2s;
  }
  #gallery-43 .cs-title{
    font-family: "Lato", sans-serif;
    font-size: 30px;
    color: #046b04;

  }

}
/* In Between - 600px */
@media only screen and (min-width: 37.5rem) {
  #gallery-43 .cs-image-group {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: 1fr;
  }
  #gallery-43 .cs-item {
      grid-column: span 6;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #gallery-43 .cs-item {
      grid-column: span 4;
  }
}








/*-- -------------------------- -->
<---          Footer            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #cs-footer-269 {
      /* 60px - 100px top and bottom */
      padding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
      background-color: #1a1a1a;
      /* Navigation Links */
      /* Contact Links */
  }
  #cs-footer-269 .cs-container {
      width: 100%;
      /* reset on tablet */
      max-width: 34.375rem;
      margin: auto;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
      /* 68px - 100px */
      column-gap: clamp(4.25rem, calc(10%), 6.25rem);
  }
  #cs-footer-269 .cs-logo-group {
      /* takes up all the space, lets the other ul's wrap below it */
      width: 100%;
      position: relative;
  }
  #cs-footer-269 .cs-logo {
      /* 210px - 240px */
      width: clamp(13.125rem, 8vw, 15rem);
      background-color: #fff;
      height: auto;
      display: block;
      /* 28px - 44px */
      margin-bottom: clamp(1.75rem, 4.17vw, 2.75rem);
  }
  #cs-footer-269 .cs-logo-img {
      width: 100%;
      height: auto;
  }

  #cs-footer-269 .cs-text {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 2.5vw, 1rem);
      line-height: 1.5em;
      width: 100%;
      margin: 0;
      margin-bottom: 2rem;
      /* changes to 305px at desktop */
      max-width: 33.75rem;
      color: #fff;
      font-family: "Sedan SC", serif;
      font-weight: 300;
      
  }
  #cs-footer-269 .cs-nav {
      padding: 0;
      margin: 0;
      font-family: "Sedan SC", serif;
      
  }
  #cs-footer-269 .cs-nav-li {
      list-style: none;
      line-height: 1.5em;
      margin-bottom: 0.5rem;
      color: #fff;
      
  }

  #cs-footer-269 .cs-header {
      font-size: 1rem;
      line-height: 1.5em;
      font-weight: 700;
      font-family: "Sedan SC", serif;
      margin-bottom: 0.875rem;
      color: var(--bodyTextColorWhite);
      position: relative;
      display: block;
  }
  #cs-footer-269 .cs-nav-link {
      font-size: 1rem;
      text-decoration: none;
      line-height: 1.5em;
      color: var(--bodyTextColorWhite);
      position: relative;
  }
  #cs-footer-269 .cs-nav-link:before {
      /* underline */
      content: "";
      width: 0%;
      height: 0.125rem;
      /* current color of the parent */
      background: currentColor;
      opacity: 1;
      position: absolute;
      display: block;
      bottom: -0.125rem;
      left: 0;
      transition: width 0.3s;
  }
  #cs-footer-269 .cs-nav-link:hover:before {
      width: 100%;
  }
  #cs-footer-269 .cs-contact {
      margin: 0;
      padding: 0;
      width: auto;
      display: flex;
      flex-direction: column;
      align-self: stretch;
  }
  #cs-footer-269 .cs-contact-li {
      list-style: none;
      margin-bottom: 0rem;
      color: #fff;
      font-family: "Sedan SC", serif;
  }
  #cs-footer-269 .cs-contact-li:last-of-type {
      margin-bottom: 0;
  }
  #cs-footer-269 .cs-contact-link {
      font-size: 1rem;
      text-decoration: none;
      line-height: 1.5em;
      text-align: left;
      color: var(--bodyTextColorWhite);
      display: inline-block;
  }
  #cs-footer-269 .cs-contact-link:hover {
      text-decoration: underline;
  }
  #cs-footer-269 .cs-address {
      font-size: 1rem;
      margin-bottom: 1.25rem;
  }
  #cs-footer-269 .cs-social-group {
      /* pushes away from the other flex items */
      margin-top: auto;
      margin-left: auto;
  }
  #cs-footer-269 .cs-social {
      display: inline-flex;
      justify-content: flex-start;
      gap: 0.75rem;
  }
  #cs-footer-269 .cs-social-link {
      width: 1.5rem;
      height: 1.5rem;
      background-color: #4e4b66;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 1;
      transition:
          transform 0.3s,
          background-color 0.3s;
  }
  #cs-footer-269 .cs-social-link:hover {
      background-color: var(--primary);
      transform: translateY(-0.1875rem);
  }
  #cs-footer-269 .cs-social-img {
      height: 0.8125rem;
      width: auto;
      display: block;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #cs-footer-269 .cs-container {
      max-width: 80rem;
      row-gap: 0;
  }
  #cs-footer-269 .cs-logo-group {
      width: auto;
      /* pushes everything to the right of it as far as possible in a flexbox */
      margin-right: auto;
  }
  #cs-footer-269 .cs-text {
      width: 80%;
      max-width: 19.0625rem;
      margin: 0;
  }
  #cs-footer-269 .cs-nav,
  #cs-footer-269 .cs-contact {
      /* 8px - 12px */
      margin-top: clamp(0.5rem, 1.2vw, 0.75rem);
  }
}

                              